<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On


    <FilesMatch "\.(ico|jpe?g|png|gif|swf|css|gz)$">
     Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>
    <FilesMatch "\.(js)$">
      Header set Cache-Control "max-age=31536000, private"
    </FilesMatch>
    <FilesMatch "\.(ttf|woff2)$">
      Header set Cache-Control "max-age=31536000, private"
    </FilesMatch>


    <filesMatch "\.(html|htm)$">
     Header set Cache-Control "max-age=31536000, public"
   </filesMatch>



    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
